*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

.Jacki{
    float: right;
    padding: 50px;
    width: 40rem;
}



.par1{
    font-size: 200%;
    padding: 50px;
}

.par2{
    font-size: 200%;
    background-color: rgba(233, 220, 245, 0.644);
    padding: 50px;
    color: rgb(147, 46, 241);
}

